<h1>Welcome to your UkeChords, <%=@user.username%></h1>

<h2>You've learned <%=@user.songs.size%> songs, <%=@user.chords.uniq.size%> chords! </h2>
<br>

<div class="col-sm-6">
    <h3>See chords by song: </h3>
    <%if !@user.songs.empty?%>
        <% @user.songs.all.each do |song| %>
            <ul><a href="/songs/<%=song.slug%>"><p> <%= song.name %> </p></a></ul>
        <% end %>
    <%else%>
        <p>You don't have any song yet. <a href="/songs/new">Add a new song now</a></p>
    <% end %>
</div>

<div class="col-sm-6">
    <h3>See songs by chord: </h3>
    <%if !@user.chords.empty?%>
        <% @user.chords.all.uniq.each do |chord| %>
            <ul><a href="/chords/<%=chord.slug%>"><p> <%= chord.name %> </p></a></ul>
        <% end %>
    <%else%>
        <p>You don't have any chord yet. <a href="/songs/new">Add chords by adding a new song first</a></p>
    <% end %>
</div>
