<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%=@song.name%></h1>

<h3>Chords in the song:</h3>

<%@song.chords.each do |c|%>
    <b><ul><a href="/chords/<%=c.slug%>"><%=c.name%></a></ul></b>
<%end%>
<br>
<a href="/songs/<%=@song.slug%>/edit">Edit</a><br>
<a href="/songs/<%=@song.slug%>/delete">Delete</a><br>
<a href="/users/<%=current_user.slug%>">Home page</a>